In [ ]:
# set 
# mutable data type
# it stores unique elemets
# it only stores immutable data types
# it doesnot support indexing
# collection of keys
"""
{5, 6, 8, 7}
"""

In [1]:
s = set()  # empty set

In [2]:
type(s)

set

In [3]:
s = {4, 5, 5, 2, 1}
print(len(s))

4

In [4]:
print(s)

{1, 2, 4, 5}

In [5]:
s[1]

TypeError: 'set' object is not subscriptable

In [6]:
s = {[], 5, 8, (5, 8)}

TypeError: unhashable type: 'list'

In [7]:
s = {"Ram", "Raghu", "Ajay"}
"jasleen" in s

False

In [8]:
"Ram" in s

True

In [9]:
s.add("Divyanshu")

In [10]:
print(s)

{'Ram', 'Raghu', 'Divyanshu', 'Ajay'}

In [11]:
s1 = {1,2,3}
s2 = {'Ram', 'Raghu', 'Divyanshu', 'Ajay'}
s1.update(s2)

In [12]:
s1

{1, 2, 3, 'Ajay', 'Divyanshu', 'Raghu', 'Ram'}

In [13]:
s3 = {"5", 9, None}
s2 | s3

{'5', 9, 'Ajay', 'Divyanshu', None, 'Raghu', 'Ram'}

In [14]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set(iterable=(), /)
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(self, object, /)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      S.__sizeof__() -> size of S in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(self, object, /)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(self, /)
 |      Remove all elements from this set.
 |
 |  copy(self, /)
 |      Return a shallow copy of a set.
 |
 |  difference(self, /, *others)
 |      Return a new set with elements in the set that are not in the others.
 |
 |  difference_update(self, /, *others)
 |      Update the set, removing elements found in others.
 |
 |  discard(self, object, /)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(self, /, *others)
 |      Return a new set with elements common to the set and all others.
 |
 |  intersection_update(self, /, *others)
 |      Update the set, keeping only elements found in it and all others.
 |
 |  isdisjoint(self, other, /)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Report whether another set contains this set.
 |
 |  issuperset(self, other, /)
 |      Report whether this set contains another set.
 |
 |  pop(self, /)
 |      Remove and return an arbitrary set element.
 |
 |      Raises KeyError if the set is empty.
 |
 |  remove(self, object, /)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(self, other, /)
 |      Return a new set with elements in either the set or other but not both.
 |
 |  symmetric_difference_update(self, other, /)
 |      Update the set, keeping only elements found in either set, but not in both.
 |
 |  union(self, /, *others)
 |      Return a new set with elements from the set and all others.
 |
 |  update(self, /, *others)
 |      Update the set, adding elements from all others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [15]:
s4 = s2 | s3

In [16]:
s4

{'5', 9, 'Ajay', 'Divyanshu', None, 'Raghu', 'Ram'}

In [17]:
s4.remove("Raghu")

In [18]:
s4

{'5', 9, 'Ajay', 'Divyanshu', None, 'Ram'}

In [19]:
s4.discard("Ajay")

In [20]:
s4

{'5', 9, 'Divyanshu', None, 'Ram'}

## Conditional statements

In [22]:
# if <condition>:
# ----#statements
a = 550
b = 230
if a > b:
    print(f"{a} is greater than {b}")

550 is greater than 230

In [23]:
a = 55
b = 230
if a > b:
    print(f"{a} is greater than {b}")

In [24]:
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is not greater than {b}")

55 is not greater than 230

In [26]:
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

55 is smaller than 230

In [27]:
a = input("Enter the value for a")
b = input("Enter the value for b")
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

Enter the value for a 45
Enter the value for b 45

45 is equals to 45

In [28]:
a = input("Enter the value for a")
b = input("Enter the value for b")
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

Enter the value for a 45
Enter the value for b 58

45 is smaller than 58

In [29]:
a = input("Enter the value for a")
b = input("Enter the value for b")
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

Enter the value for a 45
Enter the value for b 38

45 is greater than 38

In [30]:
a = input("Enter the value for a")
b = 56
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

Enter the value for a 70

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
type(b)

int

In [32]:
type(a)

str

In [33]:
a

'70'

In [34]:
a = int(input("Enter the value for a"))
b = 56
if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equals to {b}")

Enter the value for a 50

50 is smaller than 56

In [35]:
a = int(input("Enter the value of a"))
b = int(input("Enter the value of b"))
if a == b:
    a+=b
elif a!=b:
    a-=b

Enter the value of a 45
Enter the value of b 45

In [36]:
a

90

In [37]:
a = int(input("Enter the value of a"))
b = int(input("Enter the value of b"))
if a == b:
    a+=b
elif a!=b:
    a-=b
print(a)

Enter the value of a 45
Enter the value of b 36

9

In [38]:
l = [1, 5, 8, 9]
if 1 in l:
    print("Exists")
elif l[1] == 1:
    print("Correct")
else:
    print("I am not sure")

Exists

In [39]:
if None:
    print("Falsy value")

In [41]:
if 5 + 9j:
    print("Truthy value")

Truthy value

In [ ]:
Truthy value:
    "a", all the number exluding 0s, non empty lists, tuples, strings, dict, sets
Falsy value:
    False, empty strings, lists, tuples, sets, None, 0

In [42]:
if 0:
    print("what am I")

In [43]:
if not 0:
    print("what am I")

what am I

In [50]:
if set():
  print("what am I")

In [51]:
if set([4]):
  print("what am I")

what am I

In [54]:
# nested if condition
a = int(input("Enter the number"))
if a%2==1:
    if a==5:
        print(5)
    else:
        print("I dont want this number")
else:
    print("Even number")

Enter the number 6

Even number

In [55]:
a = int(input("Enter the number"))
if a%2==1:
    if a==5:
        print(5)
    else:
        print("I dont want this number")
else:
    print("Even number")

Enter the number 3

I dont want this number

In [56]:
a = int(input("Enter the number"))
if a%2==1:
    if a==5:
        print(5)
    else:
        print("I dont want this number")
else:
    print("Even number")

Enter the number 5

5

In [57]:
a = int(input("Enter the number"))
print(f"{a} is Even") if a%2==0 else print(f"{a} is odd")

Enter the number 6

6 is Even

In [58]:
a = int(input("Enter the number"))
print(f"{a} is Even") if a%2==0 else print(f"{a} is odd")

Enter the number 5

5 is odd

In [59]:
if a%2 == 0:
    print(f"{a} is Even")
else:
    print(f"{a} is odd")

5 is odd

## while loops

In [ ]:
# while loop is a way to execute a set of statemnts as long as a certain conditon is met

In [60]:
print(1)
print(2)
print(3)
print(5)

1
2
3
5

In [ ]:
while <condition>:
    # statemnts

In [61]:
ord("A")

65

In [63]:
a = 65
while a < 91:
    print(chr(a))
    a += 1

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [64]:
a = 1
while a >= -20:
    print(a)
    a -= 1

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20

In [ ]:
# Assignment: print the table of 2
# 2 X 1 = 2
# 2 X 2 = 4

In [65]:
a = 0
while 1:
    if a == 50:
        break
    if a % 2:
        print(a)
    a+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [66]:
a = 0
while 1:
    if a == 50:
        break
    if a % 2:
        print(a, end=" ")
    a+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [67]:
s = "I am happy today\nbecause I am studying python"

In [68]:
print(s)

I am happy today
because I am studying python

In [70]:
# continue
a = 1
while a<11:
    if a == 3 or a == 5:
        a += 1
        continue
    print(a, "Odd" if a%2 else "Even")
    a += 1

1 Odd
2 Even
4 Even
6 Even
7 Odd
8 Even
9 Odd
10 Even

## for loop

In [72]:
# for item in <iterable>:
#     #statemts
# print a - z
ord("a")
ord("z")

122

In [74]:
for alphabet in range(97, 123):
    print(chr(alphabet), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [75]:
for alphabet in range(ord("a"), ord("z")+1):
    print(chr(alphabet), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [76]:
for alphabet in range(ord("a"), ord("z")):
    print(chr(alphabet), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y

In [77]:
for alphabet in range(ord("a"), ord("z")):
    print(chr(alphabet), end=" ")
    break

a

In [78]:
j = [{"name": "Raghu", "age": 52, "sex":"M"}, {"name":"Bindu","age":55,"sex":"F"}, {"age":55,"sex":"F"}]
for item in j:
    print(item)

{'name': 'Raghu', 'age': 52, 'sex': 'M'}
{'name': 'Bindu', 'age': 55, 'sex': 'F'}
{'age': 55, 'sex': 'F'}

In [79]:
j = [{"name": "Raghu", "age": 52, "sex":"M"}, {"name":"Bindu","age":55,"sex":"F"}, {"age":55,"sex":"F"}]
for item in j:
    print(type(item))
    print(item)

<class 'dict'>
{'name': 'Raghu', 'age': 52, 'sex': 'M'}
<class 'dict'>
{'name': 'Bindu', 'age': 55, 'sex': 'F'}
<class 'dict'>
{'age': 55, 'sex': 'F'}

In [80]:
j = [{"name": "Raghu", "age": 52, "sex":"M"}, {"name":"Bindu","age":55,"sex":"F"}, {"age":55,"sex":"F"}]
for item in j:
    if "name" in item:
        print(item)
    else:
        pass

{'name': 'Raghu', 'age': 52, 'sex': 'M'}
{'name': 'Bindu', 'age': 55, 'sex': 'F'}

In [81]:
j = [{"name": "Raghu", "age": 52, "sex":"M"}, {"name":"Bindu","age":55,"sex":"F"}, {"age":55,"sex":"F"}]
for item in j:
    if "F" in item.values():
        print(item)
    else:
        pass

{'name': 'Bindu', 'age': 55, 'sex': 'F'}
{'age': 55, 'sex': 'F'}

# we can run for loop for any iterable

In [82]:
for i in 7586:
    if 7 in i:
        print(True)

# 1) Error -- 3

TypeError: 'int' object is not iterable

In [84]:
for i in "7586":
    if "7" in i:
        print(True)

True

In [ ]:
# function
# Its a block of code which runs whne it is called
# inbuilt functions
    len(), print(), ord(), chr(), sorted(), int(), set() ... 
# user defined function
    it is defined by users

In [87]:
a=2
for x in range(1,11):
    print(f"{a}*{x}={a*x}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [85]:
l = [1, 2, 5, 6]
len(l)

4

In [ ]:
# int name_of_func(int arg1, char arg2) X
def name_of_fun(<args>):
    # statemts
    return data

In [88]:
def print_name():
    name = input("Enter your name")
    print("Hello {}".format(name))

In [89]:
print_name

In [90]:
print_name()

Enter your name Raghu

Hello Raghu

In [91]:
def print_name(name):
    print("Hello {}".format(name))

In [92]:
print_name()

TypeError: print_name() missing 1 required positional argument: 'name'

In [93]:
print_name(name="Tradingsid")

Hello Tradingsid

In [94]:
print_name("Tradingsid")

Hello Tradingsid

In [96]:
def sunm_of_values(val1, val2, val3):
    print(f"val1= {val1}, val2={val2}, val3={val3}")
    return val1 + val2 + val3

In [97]:
sunm_of_values(5, 6, 7)

val1= 5, val2=6, val3=7

18

In [98]:
val = sunm_of_values(5, 6, 7)

val1= 5, val2=6, val3=7

In [99]:
print(val)

18

In [100]:
sunm_of_values(6, 7, 5)

val1= 6, val2=7, val3=5

18

In [101]:
sunm_of_values(val2=6, val3=7, val1=5)

val1= 5, val2=6, val3=7

18